# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

.idea/

.run/

*.db
*.log

node/
frontend/node_modules/

bin/

.classpath
.settings/
.project
