# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
code/frontend/node_modules/yargs-parser/build/

.idea/

.run/

*.db
*.log

node/

bin/

.classpath
.settings/
.project
